<input [type]=typeInput [value]="nameFramework">

<button type="button" (click)="handle($event)">Click me</button>

{{ name }}

<input type="text" [(ngModel)]="name">
<!-- cái trên thực chất là cái dưới -->
<!-- <input type="text" [ngModel]="name" (ngModelChange)="name = $event"> -->

<!-- c1 -->
<!-- cách này sẽ khiến element bị gỡ hẳn khỏi DOM, vì vậy mỗi lần ngIf gỡ hay gán 1 element thì component sẽ được init hoặc destroy lại -->
<p *ngIf="user.age >= 18; else under18">Content 18+</p>

<!-- c2 -->
<!-- <ng-template [ngIf]="user.age >= 18" [ngIfElse]="under18">
    <p>Content 18+</p>
</ng-template> -->

<!-- với hidden thì nó chỉ ẩn element chứ ko xóa hẳn khỏi DOM -->
<!-- <p [hidden]="user.age < 18">Content 18+</p> -->

<ng-template #under18>
    <p>You are young to see this content</p>
</ng-template>

<button (click)="user.age = user.age - 1">-</button>
<span>Age: {{ user.age }}</span>
<button (click)="user.age = user.age + 1">+</button>


<!-- ngFor - lặp qua tất cả phần tử của mảng -->
<!-- index: stt của mảng -->
<!-- count: tổng -->
<!-- first: trả về true nếu item la item đầu tiên -->
<!-- last: ngược lại -->
<!-- even: số chẵn -->
<!-- odd: số lẻ -->
<!-- $implicit: là biến -->

<!-- nếu muốn check điều kiện cùng vòng for thì phải bọc điều kiện ở ngoài vòng for -->
<ul>
    <ng-container *ngIf="users.length == 10; else noUser">
        <li *ngFor="let user of users; index as index">{{ index + 1 }} - {{ user.website }}</li>
    </ng-container>
    <ng-template #noUser>
        <span>No User</span>
    </ng-template>
</ul>

<!-- phải khai báo let-tên biến="kiểu" -->
<!-- <ul>
    <ng-template ngFor [ngForOf]="users" let-user let-index="index" let-total="count">
        <li>{{ index + 1 }} - {{ user.address.street }} - {{ total }}</li>
    </ng-template>
</ul> -->

<button (click)="activeB = !activeB">Border</button>
<button (click)="activeBG = !activeBG">Background</button>

<!-- [class.tên class] -->
<!-- [class]="array" -->
<!-- [class]="object" { [ten class: string]: boolean } -->
<!-- [class]="variable" -->
<div class="box" [class.borderColor]="activeB" [class.backgroundColor]="activeBG"></div>

<br>
<!-- với những style có 2 từ thì có thể viết theo quy tắc tên biến -->
<!-- [style.tên style] -->
<!-- [style.tên style.unit] -->
<!-- [style]="object" -->
<!-- [style.css-variable] -->

<span [style.color]="'blue'" [style.backgroundColor]="'red'" [style.fontSize.rem]="3">Style Binding</span>
<br>
<span [style]="{ color: 'red', fontSize:'3rem' }">Style Binding</span>
<br>
<span [style.--danger-text]="activeB ? 'red' : 'green'" [style.color]="'var(--danger-text)'" [style.fontSize.rem]="3">Style Binding</span>



<!-- <progress-bar></progress-bar> -->

<input type="range" #ref (change)="changeRange(ref.value)" min="0" max="100" value="{{ currentProgress }}">
<!-- value của progress-bar này được quản lý từ app component bởi biến currentProgress -->
<progress-bar [progress]="currentProgress" [progress-color]="'red'"></progress-bar>

<br>
<album-list></album-list>


<br>
<toggle #toggleComponent [(checked)]="isChecked"></toggle>
<!-- #toggleComponent là instance của toggle -->
<!-- thông qua template variables có thể sử dụng dữ liệu của 1 element qua 1 element khác -->
<button #toggleButton (click)="toggleComponent.toggle()" (click)="showLastToggle = !showLastToggle">Toggle button</button>

<toggle #toggleComponent [(checked)]="isChecked"></toggle>
<toggle #toggleComponent [(checked)]="isChecked"></toggle>
<ng-container *ngIf="showLastToggle">
    <toggle #toggleComponent [(checked)]="isChecked"></toggle>
</ng-container>


<br>
<!-- ng-content dùng để html cha có thể render data vào html con
ở html con sẽ đặt những thẻ ng-content có thuộc tính là select với giá trị giống hệt như khi dùng querySelector
ở html cha sẽ viết nội dung html vào giữa 2 cặp thẻ tag -->
<toggle>
    <header class="header">Header</header>
    <!-- có thẻ sử dụng ngProjectAs để báo cho ng-content thẻ p này được tham chiếu là span -->
    <p ngProjectAs="span">Title</p>
    <!-- ng-container ko được render ra view nên sử dụng ng-container ở đây sẽ ko bọc được những thẻ bên trong -->
    <ng-container ngProjectAs="span">
        <span>ABC </span>
        <button>XYZ </button>
    </ng-container>
</toggle>

<toggle>
    <header class="header">Header</header>
    <span>Title</span>
</toggle>



<br><br><br><br>
<!-- ngTemplateOutlet: hiển thị code từ 1 template -->
<div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <ng-container [ngTemplateOutlet]="lgfTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="lgfTemplate"></ng-container>
    </ul>
</div>

<ng-template #lgfTemplate>
    <li class="list-group-item">Cras justo odio</li>
</ng-template>


<!-- thay đổi template của 1 đoạn html -->
<ng-template #linkTemplate let-l="label" let-cl="className">
    <h5>{{ l }}</h5> <h5>{{ cl }}</h5>
</ng-template>
<tabs [navs]="navs" [linkTemplate]="linkTemplate"></tabs>




<tab-group [(activeIndex)]="currentIndexTab">
    <tab-panel title="First tab">First tab content</tab-panel>
    <tab-panel title="Second tab">Second tab content</tab-panel>
    <tab-panel title="Third tab">Third tab content</tab-panel>
    <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-group>


<!-- ở đây mỗi lần render 1 tab panel là counter sẽ tự động tăng lên 1, khi render xong thì cũng sẽ có 4 instance counter xử lý ở 4 tab panel -->
<!-- nếu ko đc render sẽ ko có instance -->
<button class="btn btn-primary" (click)="showTab4 = !showTab4">Click Tab 4</button>
<tab-bs-group [(activeIndex)]="currentIndexTab">
    <tab-panel title="First tab">
        <!-- ContentChild -->
        <!-- ở đây chúng ta đang cần tạo instance counter khi nào cần đến thôi -->
        <!-- nên sẽ để trong ng-template -->
        <!-- vậy làm sao để TabPanelComponent có thể tham chiếu đến TemplateRef -->
        <!-- có thể sử dụng giải pháp là ContentChild -->

        <!-- nếu làm như này sẽ gặp vấn đề nếu có nhiều template -->
        <!-- @ContentChild(TemplateRef, {static: true}) contentChildTabPanel: TemplateRef<any> | any; -->

        <!-- vì vậy sẽ sử dụng @Directive -->

        <ng-template tabContent>
            First tab content
            <counter></counter>
        </ng-template>
    </tab-panel>
    <tab-panel title="Second tab">
        <ng-template tabContent>
            Second tab content
            <counter></counter>
        </ng-template>
    </tab-panel>
    <tab-panel title="Third tab">
        <ng-template tabContent>
            Third tab content
            <counter></counter>
        </ng-template>
    </tab-panel>
    <tab-panel title="Fourth tab" *ngIf="showTab4">
        <ng-template tabContent>
            Fourth tab content
            <counter></counter>
        </ng-template>
    </tab-panel>
</tab-bs-group>



<!-- pipe -->
<!-- có 6 loại pipe -->
<br>
<p>{{ currentDate | date : 'shortDate' }}</p>
<p>{{ currentDate | date : 'mediumDate' }}</p>
<p>{{ currentDate | date : 'fullDate' }}</p>
<p>{{ currentDate | date : 'yyyy/MM/dd' }}</p>

<!-- {{ interval$ | async }} -->

{{ address | formatAddress : 'param1' }}

<br><br>
<span>User List</span>
<ul>
    <li *ngFor="let user of userAdult">
        {{ user.name }} - {{ user.age }}
    </li>
</ul>
<span>User Adult List</span>
<ul>
    <li *ngFor="let user of userAdult | adultPipe">
        {{ user.name }} - {{ user.age }}
    </li>
</ul>
<button (click)="addUserAdult()">Plus</button>